.birth{
    display: flex;
    justify-content: center;
    border: 10px dashed rgb(83, 241, 83);
    margin: 50px;
    padding: 50px;
    font-size: larger;
    font-weight: bold;
    background-color: rgb(15, 163, 243);
    color:white;
}
