.birth{
    display: flex;
    justify-content: center;
    border: 2px solid black;
    margin: 50px;
    padding: 50px;
    font-size: larger;
    font-weight: bold;
    background-color: rgb(15, 163, 243);
    color:white;
}
